doctype html
html
  head
    meta(charset='UTF-8')
    link(rel='stylesheet', type='text/css', href="css/styles.css")
    title Google+ Sign-in Example

  script(type='text/javascript', src='js/vendor/requirejs/require.js', data-main='js/modules/app.js')

body
  h1 Google+ Sign-in Example

  .loading(data-bind='visible: !triedLogin()') Loading...

  .sign-in(data-bind='css: {visible: triedLogin() && !userinfo()}')
    p Sign in with the button below

    #gSigninWrapper
      #signinButton

  .signed-in(data-bind='css: {visible: userinfo}, with: userinfo')
    p
      span Signed in as:
      span.userinfo
        span.name(data-bind='text: name')
        span.picture
          img(data-bind='attr: {src: picture}')

