doctype html
html
  head
    meta(charset='UTF-8')
    link(rel='stylesheet', type='text/css', href="css/styles.css")
    title Google+ Sign-in Example

  script(type='text/javascript', src='js/vendor/requirejs/require.js', data-main='js/modules/app.js')

body
  h1 Google+ Sign-in Example

  p Sign in with the button below

  #gSigninWrapper
    #signinButton

