
body
  font-family helvetica, verdana, arial

.sign-in
  display none

  &.visible
    display block

.signed-in
  display none

  &.visible
    display block

  .userinfo
    margin-left 1em
    padding 1em
    border 1px solid gray
    display inline-block

  .name
    font-weight bold

  .picture
    margin-left 1em

    img
      vertical-align middle
      width 64px
      height 64px
